.activity-card .card-img-container {
    position: relative;
    overflow: hidden;
    height: 200px;
    background-color: #272053;
}

.activity-card .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}

.activity-card .card-img-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
}

.activity-card:hover .card-img-container::after {
    opacity: 1;
}

.btn-play {
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    margin: auto;
    opacity: 0;
    font-size: 1.5rem;
}


.activity-card:hover .btn-play {
    opacity: 1;
    z-index: 5;
}

.activity-card .btn-play i {
    transition: transform 0.3s ease;
}

.activity-card .btn-play:hover i {
    transform: scale(1.2);
}

.activity-card:hover {
    transform: translateY(-8px);
}

.activity-card:hover::before {
    animation: none;
}

.activity-card:hover .card-img-top {
    transform: none;
}